li {
    list-style: none;
}

#tempo {
    margin-left: 100px;
}

#forecast-table th, tr, td{
    padding: 1.2rem; /* 1rem é igual ao $spacer que é utilizado no bootstrap */
}

.time_row {
    font-weight: bold;
}

#data_atual{
    font-weight: normal;
}